extends layout

block content
	nav.ol-pc-only.navbar.navbar-inverse.bg-primary.navbar-toggleable-md.fixed-top
		button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#ol_navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon
		.container
			a.navbar-brand(href="https://www.onelib.biz")
				img(draggable='false' src='images/logo_sm.png', height='25', alt='#{webname}')
			.collapse.navbar-collapse#ol_navbar
				ul.navbar-nav.mr-auto
					li.nav-item
						a.nav-link(href="https://www.onelib.biz/blog") 博客
					li.nav-item
						a.nav-link(href="https://www.onelib.biz/blog/w") 写作
					li.nav-item
						a.nav-link(href="https://www.onelib.biz/works") 工作
					li.nav-item
						a.nav-link(href="http://www.tangyuan.live" target="_blank") 汤圆直播
					li.nav-item.active
						a.nav-link(href="http://tools.onelib.biz/") 工具
			
	.container-fluid(style='margin-top:90px; padding:0px;')
		.row
			.offset-md-3.col-md-6.col-12
				h1 火车票查询工具
				blockquote.blockquote(style='margin-bottom:0px;')
					ul(style='list-style:none; font-size:15px; padding-left:5px; margin-bottom:0px;')
						li 制作: 林晓州
						li 版本: V1.1
						li 发布V1.0: 2017.07.20
						li 更新V1.1: 2018.11.02 解决查询失败的问题：必须对http请求头的User-agent进行设置
				hr

				h2 查询火车票
				label 乘车日期
				input.form-control(type="date" placeholder="日期")#ol_tt_date
				br

				label 站点
				div.form-inline
					.input-group
						input.form-control(type="text" placeholder="出发站" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onkeyup="Monitor_Station_Input(this)")#ol_tt_fromStation
						.dropdown-menu(style="max-height:200px; overflow-y:auto; width:100%; overflow-x:hidden;")#ol_tt_fromStation_opts
							h6.dropdown-header 输入中文或拼音

					button.btn.btn-secondary(style="margin-left:10px;" onclick="ExchangeStation()") 
						i.fa.fa-exchange

					.input-group(style="margin-left:10px;")
						input.form-control(type="text" placeholder="终点站" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onkeyup="Monitor_Station_Input(this)")#ol_tt_toStation
						.dropdown-menu(style="max-height:200px; overflow-y:auto; width:100%; overflow-x:hidden;")#ol_tt_toStation_opts
							h6.dropdown-header 输入中文或拼音


					button.btn.btn-outline-primary(style="margin-left:10px;" onclick="OL_TrainTickets.query()") 查询

					.input-group(style="margin-left:10px;" title="如：搜索[北京]，则不会出现[北京西]的车次")
						.form-check.form-check-inline
							label.form-check-label
								input(type="checkbox" onchange="Monitor_Station_Strict(this)")#ol_tt_strict_station
								|  精准车站

				div.form-inline
					.input-group(style="margin-left:0px;")
						.form-check.form-check-inline
							label.form-check-label
								input(type="checkbox" checked onchange="Monitor_Station_Type('GC')")#ol_tt_type_gc
								|  G/C-高铁/城际
					.input-group(style="margin-left:20px;")
						.form-check.form-check-inline
							label.form-check-label
								input(type="checkbox" checked onchange="Monitor_Station_Type('D')")#ol_tt_type_d
								|  D-动车
					.input-group(style="margin-left:20px;")
						.form-check.form-check-inline
							label.form-check-label
								input(type="checkbox" checked onchange="Monitor_Station_Type('Z')")#ol_tt_type_z
								|  Z-直达
					.input-group(style="margin-left:20px;")
						.form-check.form-check-inline
							label.form-check-label
								input(type="checkbox" checked onchange="Monitor_Station_Type('T')")#ol_tt_type_t
								|  T-特快
					.input-group(style="margin-left:20px;")
						.form-check.form-check-inline
							label.form-check-label
								input(type="checkbox" checked onchange="Monitor_Station_Type('K')")#ol_tt_type_k
								|  K-快车
					.input-group(style="margin-left:20px;")
						.form-check.form-check-inline
							label.form-check-label
								input(type="checkbox" checked onchange="Monitor_Station_Type('Others')")#ol_tt_type_others
								|  其他

				br

				//-查询结果列表
				div#ol_tt_result
				hr

				h2 铁道部官网
				a(href="https://kyfw.12306.cn/otn/leftTicket/init" target="_blank") https://kyfw.12306.cn/otn/leftTicket/init

				hr


				br
				br
				div(style="display:none;")
					hr
					h2 维护
					button.btn.btn-outline-danger.btn-sm(onclick="OL_TrainTickets.rebase()") 更新火车站数据
					hr

				br
				br
				br
				br
				br
				p.text-center
					small 制作: <a href="https://www.linxiaozhou.com" target="_blank">林晓州</a> | 网站: <a href="https://www.onelib.biz" target="_blank">OneLib智库</a>
				


	script(src='/js/lib/jquery.min.js')
	script(src='/js/lib/tether.min.js')
	script(src='/js/lib/bootstrap.min.js')
	script(src='/js/public.js')
	script(src='/js/function.js')
	script(src='/js/stations_py.js')
